@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer{
        display: none;
    }

    menu{
        display: inline-block;
        text-align: center;
    }
    
    menu > ul > li {
        display: inline-block;
        border: 1 px solid #3e4a55;
    }


    menu > ul > li > a{
        background-color: #505f6d;
        color: rgb(255, 255, 255);
        border: 1px solid #000000;
        padding: 5px;
        margin: 5px 5px 5px 30px;
        
    }

    menu > ul > li > a:hover{
        background-color: #1e2327;
        color: rgb(24, 24, 165);
    }

    main{
        max-width: 768px;
    }
}