@charset "UTF-8";

/* Versão para MobileFirst*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1.5em;
}
body, html{
    height: 100vh;
    width: 100vw;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

h1{
    color: white;
    font-size: 1em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.596);
}

main{
    background-color: rgba(255, 255, 255, 0.486);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

img#tel{
    display: block;
    margin: auto;
}

img#tablet{
    display: none;
}

img#print{
    display: none;
}

img#pc{
    display: none;
}

img#tv{
    display: none;
}